*{
  padding: 0%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
 padding-right: 0.5cm;
 padding-left: 0.5cm;
 color: white;
 text-decoration: none;
}
.navbar-nav .nav-link {
  color: white !important;
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.navtext{
  display: inline-block;
  font-size: 18px;
}
.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}
.navbar {
  z-index: 1000000000000;
}
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
margin-left: 20px;
}

.navbar-toggler-icon {

  width: 30px;
  height: 30px;
  background-size: cover;
}

.navbar-toggler:hover .navbar-toggler-icon {
  transform: scale(1.1);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.kontakt{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 0;
}


nav
    {  top: 0px;
      width: 100%;
     position: fixed;
     z-index: 1000000;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black !important;
  gap: 2cm;
    padding-top: 0.6cm;
padding-bottom: 0.6cm;

}

nav ul li{
  list-style-type: none;
  display: inline-block;
 }

.zag{
  text-align: center;
  margin: 0 auto;
  max-width: 2000px; 
  padding: 0 20px;
 position: relative;
height: 15cm;

   padding-bottom: 0;
  margin-bottom: 0;
  background-image: url(/img/zaiskri-bg.jpg);
background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.textprekoslike{
  padding-top: 7cm;
  color: white;
margin-left: 10%;
margin-right: 10%;
}
.textispodtexta{
    padding-top: 1cm;
    color:#E27526;
}



*, *::after, *::before {
  box-sizing: border-box;
}

.modalish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100000000000;
  background-color: white;
  width: 500px;
  max-width: 80%;

  margin-right: 10%;
}


.modalish.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalish-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalish-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modalish-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.modalish-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.modalish-body input,form, textarea,select{
border: 0;
margin: 10px 0;
padding: 20px;
outline: none;
font-size: 16px;
}
.modalish-body select,option{
  color: black;
}
.modalish-body button{
  padding: 15px;
  background-color: rgb(97, 97, 255);
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
border-radius: 30px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  pointer-events: none;
  z-index: 1000000000;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.prijava{
  text-align: center;
  z-index: 10000000;
  padding-top: 15%;
  padding-bottom: 1%;
  opacity: 0;
  transform: translateY(100%);
  animation: appear1 0.5s forwards;
}
@keyframes appear1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.but{
  color: white;
  background-color: rgb(30, 30, 30);
  width: 10%;
padding-top: 1mm;
padding-bottom: 1mm;
margin-bottom: 20px;
 margin-top: 3mm;
 box-shadow: 2px 2px 2px  rgb(196, 196, 196);
}
.prijava1{
  padding-top: 30px;
 font-size: 9mm;
 padding-bottom: 8mm;
}
.prijava2{
  font-size: 7mm;
  padding-bottom: 2mm;
  padding-top: 2mm;
}
.prijava3{

  padding-left: 4px;
  padding-right: 4px;
background-color: #E27526;
font-weight: 900;
color: rgb(0, 0, 0);
padding-top: 1mm;
padding-bottom: 1mm;
width: 10%;
box-shadow: 2px 2px 2px  #c21b66;
}

.form-control.prijava3{
  margin-bottom: 20px;
  background-color: #E27526;
  font-weight: 600;

}


.prijava1{
 font-size: 9mm;
 padding-bottom: 8mm;
}
.prijava2{
  font-size: 7mm;
  padding-bottom: 2mm;
  padding-top: 2mm;
}
.prijava3{

  padding-left: 4px;
  padding-right: 4px;
background-color: #E27526;
font-weight: 900;
color: rgb(0, 0, 0);
padding-top: 1mm;
padding-bottom: 1mm;
width: 10%;
box-shadow: 2px 2px 2px  #c21b66;
}
.prijavise{
  font-weight: 500;

}

.custom-bg {
  background-color: #c21b66 !important;
  color: #fff !important; 
border: none !important;
}


.racun{
color: black;
font-weight: 500;
text-align: center;
padding-bottom: 12%;
opacity: 0;
animation: appear1 0.5s forwards;
}
.racuna{
  color: red;

}
.d-flex.justify-content-center, .prijava {
  z-index: 1; 

}

.no-underline {
  text-decoration: none;
}

.form-control:focus {
  border: 5px solid #c21b66;

}

.material-icons, .material-symbols-outlined{

  vertical-align:sub!important;
margin-left: 5px;
margin-right: 5px;
}

input[type="checkbox"] {
  position: relative;
  top: 29px;
right: 38px;
}


label[for="obavijesti"] {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin: 0;
  text-align: left;
  font-size: 16px;
padding-left: 20px;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}


scrollbar {
  width: 12px;
}

scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}

scrollbar-track {
  background: #000000;
}
.navtext:hover {
  color: #c21b66;

}
