*{
  padding: 0%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
 padding-right: 0.5cm;
 padding-left: 0.5cm;
 color: white;
 text-decoration: none;
}
.navbar-nav .nav-link {
  color: white !important;
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.navtext{
  display: inline-block;
  font-size: 18px;
}
.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}
.navbar {
  z-index: 1000000000000;
}
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
margin-left: 20px;
}

.navbar-toggler-icon {

  width: 30px;
  height: 30px;
  background-size: cover;
}

.navbar-toggler:hover .navbar-toggler-icon {
  transform: scale(1.1);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.kontakt{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 0;
}


nav
    {  top: 0px;
      width: 100%;
     position: fixed;
     z-index: 1000000;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black !important;
  gap: 2cm;
    padding-top: 0.6cm;
padding-bottom: 0.6cm;

}

nav ul li{
  list-style-type: none;
  display: inline-block;
 }

 .zag{
  text-align: center;
  margin: 0 auto;
  max-width: 2000px; 
  padding: 0 20px;
 position: relative;
height: 15cm;

   padding-bottom: 0;
  margin-bottom: 0;
  background-image: url(/img/zaiskri-bg.jpg);
background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.textprekoslike{
  padding-top: 7cm;
  color: white;
margin-left: 10%;
margin-right: 10%;
}
.textispodtexta{
    padding-top: 1cm;
    color:#E27526;
}
.Novosti{
text-align: center;
margin-top: 0.5cm;

}
.my-4{
  height: 2.5px !important;
  width: 30%;
  margin: 0 auto;
color: #E27526;
  border: none;
  opacity: 100% !important;

}
ul li{
  list-style-type: none;
  display: inline-block;
}

 ul li img{
 max-height: 200px;
max-width: 200px;
border-radius: 50%;
object-fit: cover;
object-position: center;

 border: 15px solid rgb(255, 251, 213) ;
 }

.gumbovi button {
  background-size: cover;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 250px;
  line-height: 150px;
  margin: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
  border-radius: 100%;
  
}

.gumbovi{

    margin-top: -220px;
 margin-bottom: 100px;
}



.gumbovi .prvig {
  background-image: url("/img/novost1.jpg");
}

.gumbovi .drugig {
  background-image: url("/img/novost2.jpg");
}

.gumbovi .trecig {
  background-image: url("/img/novost3.jpg");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-left: 10%;
  margin-right: 10%;
}

.gumbovi1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gumbovi li {
  margin: 10px;
}

.gumbovi li a {
  text-decoration: none;
}
.gumbovi {

  padding: 0;
}



.prvig,
.drugig,
.trecig {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 5px solid #c21b66 !important;
  border-radius: 100% !important;
}

.gumbtext1 {
  font-size: 16px;
  font-weight: 700;

color: yellow;
text-shadow: 3px 3px 3px   black ;
}

.gumbtext2 {
  font-size: 14px;
  font-weight: 700;
  margin-top: -60px;
  line-height: 1.5em;
  width: 200px;

  color: white;
  text-shadow: 2px 2px 2px  black;
}


.prvig{

background-size: cover ;
background-position: center;
width: 7cm;
height: 7cm;
border-radius: 50%;
border: 0.5cm solid rgb(255, 255, 196);
margin-left: 2cm;
margin-right: 2cm;
}

.drugig{
  border-radius: 50%;
  background-size: cover ;
background-position: center;
  width: 7cm;
  height: 7cm;
  border: 0.5cm solid rgb(255, 255, 196);
  margin-left: 2cm;
  margin-right: 2cm;
}

.trecig{

  border-radius: 50%;
  background-size: cover ;
background-position: center;
  width: 7cm;
  height: 7cm;
  border: 0.5cm solid rgb(255, 255, 196);
  margin-left: 2cm;
  margin-right: 2cm;

}

.gumbovi{
  display: inline-block
 
}


@keyframes appear1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.Novosti{margin-top: 2.5cm;
font-size: 0.7cm;
opacity: 0;
transform: translateY(-100%);
animation: appear2 1s forwards;}


@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.gumbovi1{
text-align: center;
padding-top: 8cm;

opacity: 0;
transform: translate(-50%, -50%);
position: relative;
top: 50%;
left: 50%;
animation: appear1 1s forwards;
}



*, *::after, *::before {
  box-sizing: border-box;
}

.modalish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100000000000;
  background-color: white;
  width: 500px;
  max-width: 80%;

  margin-right: 10%;
}


.modalish.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalish-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalish-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modalish-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.modalish-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.modalish-body input,form, textarea,select{
border: 0;
margin: 10px 0;
padding: 20px;
outline: none;
font-size: 16px;
}
.modalish-body select,option{
  color: black;
}
.modalish-body button{
  padding: 15px;
  background-color: rgb(97, 97, 255);
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
border-radius: 30px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  pointer-events: none;
  z-index: 100000000;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.kontakt{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 0;
}




.material-icons, .material-symbols-outlined{

  vertical-align:sub!important;
margin-left: 5px;
margin-right: 5px;
}

input[type="checkbox"] {
  position: relative;
  top: 29px;
right: 38px;
}

label[for="obavijesti"] {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin: 0;
  text-align: left;
  font-size: 16px;
padding-left: 20px;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}


scrollbar {
  width: 12px;
}

scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}

scrollbar-track {
  background: #000000;
}
.navtext:hover {
  color: #c21b66;

}
