*{
  padding: 0%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
body{
  overflow-x: hidden;
}
a{
 padding-right: 0.5cm;
 padding-left: 0.5cm;
 color: white;
 text-decoration: none;
}
.navbar-nav .nav-link {
  color: white !important;
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.navtext{
  display: inline-block;
  font-size: 18px;
}
.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}
.navbar {
  z-index: 1000000000000;
}
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
margin-left: 20px;
}

.navbar-toggler-icon {

  width: 30px;
  height: 30px;
  background-size: cover;
}

.navbar-toggler:hover .navbar-toggler-icon {
  transform: scale(1.1);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.kontakt{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 0;
}


nav
    {  top: 0px;
      width: 100%;
     position: fixed;
     z-index: 1000000;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black !important;
  gap: 2cm;
    padding-top: 0.6cm;
padding-bottom: 0.6cm;

}

nav ul li{
  list-style-type: none;
  display: inline-block;
 }

.student{
  padding-top: 2cm;
    background-image: url("/img/novost1.jpg");
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: cover;
    padding-bottom: 5cm;
  opacity: 0;
  transform: translateY(-100%);
  animation: appear 1s forwards;

}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.student1{
    padding-top: 3cm;
    text-align: justify;
max-width: 90%;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1cm;
}

.col-12 {
  padding-right: -20px;
  padding-left: -20px; 
}
.zag{
  text-align: center;
  margin: 0 auto;
  max-width: 2000px; 
  padding: 0 20px;
 position: relative;
height: 15cm;

   padding-bottom: 0;
  margin-bottom: 0;
  background-image: url(/img/zaiskri-bg.jpg);
background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.textprekoslike{
  padding-top: 7cm;
  color: white;
margin-left: 10%;
margin-right: 10%;
}
   .textispodtexta{
       padding-top: 1cm;
       color:#E27526;
   }
   
.text{
    background-color: white;

}
.plain{
    padding-top: 1.5cm;
    margin-left: 12%;
    margin-right: 12%;
}
.Naslovi{
  max-width: 100%;
  margin-left: 12%;
  margin-right: 12%;
    padding-top: 0.5cm;
    font-size: 1cm;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    transform: translateY(100%);
    animation: appear1 1s forwards;
}

@keyframes appear1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-4{
  height: 2.5px !important;
  width: 90%;
  margin: 0 auto;
color: #E27526;
  border: none;
  opacity: 100% !important;

}

*, *::after, *::before {
  box-sizing: border-box;
}

.modalish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100000000000;
  background-color: white;
  width: 500px;
  max-width: 80%;

  margin-right: 10%;
}


.modalish.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalish-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalish-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modalish-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.modalish-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.modalish-body input,form, textarea,select{
border: 0;
margin: 10px 0;
padding: 20px;
outline: none;
font-size: 16px;
}
.modalish-body select,option{
  color: black;
}
.modalish-body button{
  padding: 15px;
  background-color: rgb(97, 97, 255);
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
border-radius: 30px;
}
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
    z-index: 9;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }


  #flexslike{
padding-top: 1cm;
padding-bottom: 0cm;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; 
margin-left: 10%;
margin-right: 10%;
padding-bottom: 1cm;
  }
.slikeflex{

max-width: 412.5px;
}


.embed-responsive-item{
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding-bottom: 1cm;
width: 1060px;
}
.slikeflex {

  border: 2mm solid #c21b66;

}

#flexslika{
  overflow: visible;
}
#flexslika img{ transition: transform .5s ease;}
#flexslika:hover img{   transform: scale(1.5);}
.fancybox-button--close {
  display: block !important;
  margin-top: 40px !important;
  margin-left: 128px !important;
}

.fancybox-close-small {
  margin-left: -20px !important;
}

.fancybox-button {
  background-color: black !important;

}

.fancybox-button--prev[disabled], .fancybox-button--next[disabled] {
  display: none !important;
}

.fancybox-overlay {
  background-color: rgb(0, 0, 0); 
  z-index: 100000000000000000;
}


.fancybox-overlay {
  pointer-events: none;
}


.fancybox-container {
  pointer-events: auto;
}
.modal {
  overflow: hidden;
}
.material-icons, .material-symbols-outlined{

  vertical-align:sub!important;
margin-left: 5px;
margin-right: 5px;
}

input[type="checkbox"] {
  position: relative;
  top: 29px;
right: 38px;
}


label[for="obavijesti"] {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin: 0;
  text-align: left;
  font-size: 16px;
padding-left: 20px;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}


scrollbar {
  width: 12px;
}

scrollbar-thumb {
  background-color: #c21b66;
  border-radius: 6px;
  border: 3px solid #000000;
}

scrollbar-track {
  background: #000000;
}
.navtext:hover {
  color: #c21b66;

}
@media only screen and (max-width: 1000px) {
  .slikeflex{

    width: 280px;
    }
}